* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background-color: transparent;
}

@font-face {
        font-family: "MoolBoran";
        src: url('../font/moolboran/786285401-moolbor.eot');
        src: url('../font/moolboran/786285401-moolbor.eot?#iefix') format('embedded-opentype'),
        url('../font/moolboran/786285401-moolbor.svg#MoolBoran') format('svg'),
        url('../font/moolboran/786285401-moolbor.woff') format('woff'),
        url('../font/moolboran/786285401-moolbor.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

html, body {
	height: 100%;
	font-family: "MoolBoran";
}

body {
	background: #DADADA;
}

#front-container {
	background: url('../images/home.jpg') no-repeat;
	background-size: cover;
}
#front-container #logo, #front-container #main-menu {
	position: fixed;
}
#other-container {
	
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -299px; /* the bottom margin is the negative value of the footer's height */
	z-index: 100;
}
#wrapper #left-side{
	width: 370px;
	float: left;
}
#wrapper #center-side {
	width: 105px;
	float: left;
}
#wrapper #center-side.category {
	font-size: 18px;
	text-align: left;
}
#wrapper #center-side.category ul{
	margin: 180px 0 0 0;
}
#wrapper #right-side{
	width: 515px;
	text-align: center;
	float: left;
}

#wrapper #right-side .node-content{
	width: 515px;
	margin: 0 auto;
}

#front-container .push {
	height: 1000px;
}

#other-container .footer {
	background: url('../images/paper.jpg') no-repeat left bottom;
}

#wrapper #logo {
	margin: 60px 0 0 60px;
}
#front-container #wrapper #main-menu {
	margin: 180px 0 0 60px;
}
#other-container #wrapper #main-menu {
	margin: 60px 0 0 60px;
}
#wrapper #main-menu {
	font-size: 28px;
}
#wrapper #main-menu li {
	height: 30px;
}

#wrapper .menu a {
	text-decoration: none;
}

#wrapper .menu li {
	list-style-type: none;
}

#wrapper .menu a:visited, #wrapper .menu a:active, #wrapper .menu a:hover, #wrapper .menu a:link {
	color: black;
}

.footer {
	width: 50%;
	height: 299px;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center; /* horizontal centering */
	line-height: 299px; /* vertical centering; should be equal to the footer height */
	border: none;
}

.feed-icon {
	display: none;
}

.footer .menu, .footer .company {
	display: none;
}